#pragma code_page(65001)
#include <windows.h>
#include "AudioslaveVersion.h"
#include "resource.h"

IDI_APP ICON "logo.ico"

#define AS_FILE_DESCRIPTION "Audioslave Service"
#define AS_INTERNAL_NAME "AudioslaveService"
#define AS_ORIGINAL_FILENAME "AudioslaveService.exe"
#include "VersionInfo.rc.inc"
